flows.json
[
    {
        "id": "93595efbb4f6c9e1",
        "type": "tab",
        "label": "Tela Inicial",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a494e69f27874613",
        "type": "tab",
        "label": "Tela Tensão",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ac441f7b513a1cc7",
        "type": "tab",
        "label": "Tela Correntes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78be2a86f716e93c",
        "type": "tab",
        "label": "Dispositivos de Proteção",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8144529e1e0cb599",
        "type": "tab",
        "label": "Harmonicas",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d1de23ea36cb5f83",
        "type": "tab",
        "label": "Controle de Acesso",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e3016048390d69e1",
        "type": "tab",
        "label": "Solicitar Serviços",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1272aaccae5627f7",
        "type": "ui_tab",
        "name": "Solicitar Serviços",
        "icon": "build",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "19f919886a7f32b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#0f304f",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#0f304f",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0f304f",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#c9c9c9",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#dde0e6",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#333333",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#dde0e6",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#0f304f",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#dde0e6",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": " Supervisório EngeLight",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 40,
                "sy": 40,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 2,
                "py": 2
            }
        }
    },
    {
        "id": "8bae7219c1fe47ea",
        "type": "ui_group",
        "name": "Solicitar Serviços",
        "tab": "1272aaccae5627f7",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "89f9b4bb1c8138a0",
        "type": "ui_tab",
        "name": "Controle de Acesso",
        "icon": "lock",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a3d9fc3af4f63ea2",
        "type": "ui_tab",
        "name": "Telemetria",
        "icon": "fa-tachometer fa-lg",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1e7b67bfc9810d84",
        "type": "ui_group",
        "name": "Fator de Potência",
        "tab": "a3d9fc3af4f63ea2",
        "order": 4,
        "disp": false,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2534ae50961b433d",
        "type": "ui_group",
        "name": "Corrente",
        "tab": "a3d9fc3af4f63ea2",
        "order": 2,
        "disp": false,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e59e5724ab717855",
        "type": "ui_group",
        "name": "Potências",
        "tab": "a3d9fc3af4f63ea2",
        "order": 3,
        "disp": false,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5ed15c94d6361756",
        "type": "ui_group",
        "name": "Tensões",
        "tab": "a3d9fc3af4f63ea2",
        "order": 1,
        "disp": false,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "999967dcd39172cf",
        "type": "ui_group",
        "name": "Frequência",
        "tab": "a3d9fc3af4f63ea2",
        "order": 5,
        "disp": false,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6df4d7c02b6aee6f",
        "type": "ui_group",
        "name": "Harmonicas",
        "tab": "a3d9fc3af4f63ea2",
        "order": 6,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1b18c48ea46e22cf",
        "type": "ui_group",
        "name": "Controle de Acesso",
        "tab": "89f9b4bb1c8138a0",
        "order": 3,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9349377c7ed9a812",
        "type": "ui_tab",
        "name": "Corrente",
        "icon": "",
        "order": 2,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "6be0b73cd99852ae",
        "type": "ui_group",
        "name": "Corrente",
        "tab": "9349377c7ed9a812",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb4cf1db9047e320",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "e14e34fa2200b7a9",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "85dec9ec158eb9fa",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "12c82693c1c9bc3b",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "eed2e4aed0952de6",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "ff2ea3dab687949b",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "6a0286293b85443e",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "823a2a1a3ba76ae7",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "4a81656d10b0cccd",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "7e63b491ce292981",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "4d5b2e71caace966",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "c6c4b7f46f25783f",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "87dc492755f921b6",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "504b567aca15645e",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "168495f277d00abb",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "a3aaefc5512ce68e",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "3f17a314b7a23f7e",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "c9c1cee0a1a43424",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "5223f4498c5dd2e5",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "90dee46dd90b4238",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "1677668069736908",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "45c509f7e8324afc",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "f027cc8f28352c7f",
        "type": "ui_spacer",
        "z": "ac441f7b513a1cc7",
        "name": "spacer",
        "group": "6be0b73cd99852ae",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "60541d535240b5cb",
        "type": "ui_spacer",
        "z": "e3016048390d69e1",
        "name": "spacer",
        "group": "8bae7219c1fe47ea",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "ece91fa6c7318d99",
        "type": "ui_tab",
        "name": "Tensão",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "07e3b6f3a68c8e90",
        "type": "ui_group",
        "name": "Tensão",
        "tab": "ece91fa6c7318d99",
        "order": 1,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6778ee68fd63790c",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "861753b283bf39cd",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "c5fab97672f63fcb",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "381bebbe4cad0510",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "97546d14823695ca",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "54494b9beda00e4b",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "01915c9cb847f1b6",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "44bd3f94950ec01d",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "a96326fb20545ddb",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "89e2fa10dcbf84b0",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "3545c58851505dc2",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "c9c59d71f00b865a",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "2d884c04bd97d1a5",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "39ba7d2ac2165471",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "2c05ae337b726ef8",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "3660e2246aaa2cda",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "f7421a33abc87bc7",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "0244c42613c56516",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "dee4e9740566e1bd",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "6dc9261e6242daf8",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "5cae5fe71f2e5bf2",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "f72c988da481bcb7",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 31,
        "width": 1,
        "height": 1
    },
    {
        "id": "5598c03ec77f263b",
        "type": "ui_spacer",
        "z": "a494e69f27874613",
        "name": "spacer",
        "group": "07e3b6f3a68c8e90",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "5bef62eabb9de9db",
        "type": "ui_gauge",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "group": "1e7b67bfc9810d84",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "<strong>Fator de Potência</strong>",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "0.84",
        "seg2": "0.91",
        "diff": false,
        "className": "",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "47e9faeb32edfeb5",
        "type": "random",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "low": "70",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "8833a2f3c57054b9"
            ]
        ]
    },
    {
        "id": "12d152ec46cc08da",
        "type": "inject",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "num"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "aca20257691c9216"
            ]
        ]
    },
    {
        "id": "b863efac1fcb9ba3",
        "type": "function",
        "z": "93595efbb4f6c9e1",
        "name": "autofade",
        "func": "let fadestep = context.get(\"fadestep\")\nlet level = context.get(\"level\") || 0\nlet step = 1\nlet target = msg.payload || 0\nlet timing = msg.topic*1000/(Math.abs(target - level)) || 0\n\nfunction fade(step,target) {\n    if (level != target){\n        level = level + step\n        context.set(\"level\",level)\n        //node.warn(\"target: \" + target + \" level: \" + level)\n    }\n    msg.payload = level\n    node.send(msg)\n    \n    if (level === target){\n        clearTimeout(fadestep);\n        return;\n    }\n}\n\nif (msg.hasOwnProperty(\"feedback\")){ // if message comes from front-end\n    context.set(\"level\",msg.feedback)\n    if (msg.hasOwnProperty(\"socketid\")){ // if message is a manual input from dashboard\n        clearTimeout(fadestep); //stop fading\n    }\n}else{\n    clearTimeout(fadestep);\n    target = msg.payload\n    if (level < target){\n        step = 1\n    }else{\n        step = -1\n    }\n    if (!msg.topic || msg.topic === \"0\"){\n        level = msg.payload\n        context.set(\"level\",level)\n        return msg;\n    }else{\n        fadestep = setInterval(function(){ fade(step,target)}, timing);\n        context.set(\"fadestep\",fadestep)\n    }\n    \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 200,
        "wires": [
            [
                "5f2c91e6991d2bdc",
                "fd6deea9015d465e"
            ]
        ]
    },
    {
        "id": "8833a2f3c57054b9",
        "type": "change",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "10",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "ValorFatorDePotencia",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "b863efac1fcb9ba3"
            ]
        ]
    },
    {
        "id": "fd6deea9015d465e",
        "type": "function",
        "z": "93595efbb4f6c9e1",
        "name": "function 1",
        "func": "msg.payload = msg.payload/100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 160,
        "wires": [
            [
                "5bef62eabb9de9db"
            ]
        ]
    },
    {
        "id": "5f2c91e6991d2bdc",
        "type": "switch",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "property": "ValorFatorDePotencia",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "payload",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 790,
        "y": 200,
        "wires": [
            [
                "47e9faeb32edfeb5"
            ]
        ]
    },
    {
        "id": "05bbdd69d9bfdd6e",
        "type": "ui_text",
        "z": "93595efbb4f6c9e1",
        "group": "e59e5724ab717855",
        "order": 1,
        "width": 4,
        "height": 2,
        "name": "Potência Ativa",
        "label": "<font size = 4>Potência Ativa",
        "format": "<font size = 6>{{msg.payload}}kW",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "49f876b84cba94f2",
        "type": "random",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "low": "800",
        "high": "900",
        "inte": "true",
        "property": "payload",
        "x": 280,
        "y": 340,
        "wires": [
            [
                "5bdf7aef0e429fd1"
            ]
        ]
    },
    {
        "id": "aca20257691c9216",
        "type": "link out",
        "z": "93595efbb4f6c9e1",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "cbd85469755e5409",
            "4e549af2dd36dcc5",
            "0981332e0d5e23c4",
            "1118163ed94e8f1b",
            "79b436c783cc653b",
            "aa78a055429444bf"
        ],
        "x": 265,
        "y": 100,
        "wires": []
    },
    {
        "id": "cbd85469755e5409",
        "type": "link in",
        "z": "93595efbb4f6c9e1",
        "name": "link in 1",
        "links": [
            "aca20257691c9216"
        ],
        "x": 165,
        "y": 380,
        "wires": [
            [
                "49f876b84cba94f2",
                "09c34e9e0d72eb53",
                "2f69e1545c8a9da9"
            ]
        ]
    },
    {
        "id": "8d19a9c72797c15e",
        "type": "inject",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 185,
        "y": 200,
        "wires": [
            [
                "47e9faeb32edfeb5"
            ]
        ],
        "l": false
    },
    {
        "id": "5bdf7aef0e429fd1",
        "type": "function",
        "z": "93595efbb4f6c9e1",
        "name": "function 2",
        "func": "msg.payload = msg.payload/100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 340,
        "wires": [
            [
                "05bbdd69d9bfdd6e"
            ]
        ]
    },
    {
        "id": "9e253adf821c3984",
        "type": "ui_text",
        "z": "93595efbb4f6c9e1",
        "group": "e59e5724ab717855",
        "order": 3,
        "width": 4,
        "height": 2,
        "name": "Potência Reativa",
        "label": "<font size = 4>Potência Reativa",
        "format": "<font size = 6>{{msg.payload}}kVAr",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "09c34e9e0d72eb53",
        "type": "random",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "low": "900",
        "high": "1100",
        "inte": "true",
        "property": "payload",
        "x": 280,
        "y": 380,
        "wires": [
            [
                "62de77b912376cd4"
            ]
        ]
    },
    {
        "id": "15080c09470a21ce",
        "type": "function",
        "z": "93595efbb4f6c9e1",
        "name": "function 3",
        "func": "msg.payload = msg.payload/100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 420,
        "wires": [
            [
                "9e253adf821c3984"
            ]
        ]
    },
    {
        "id": "a56d5e3205a61efb",
        "type": "ui_text",
        "z": "93595efbb4f6c9e1",
        "group": "e59e5724ab717855",
        "order": 2,
        "width": 4,
        "height": 2,
        "name": "Potência Aparente",
        "label": "<font size = 4>Potência Aparente",
        "format": "<font size = 6>{{msg.payload}}kVA",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "2f69e1545c8a9da9",
        "type": "random",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "low": "-1000",
        "high": "0",
        "inte": "true",
        "property": "payload",
        "x": 280,
        "y": 420,
        "wires": [
            [
                "15080c09470a21ce"
            ]
        ]
    },
    {
        "id": "62de77b912376cd4",
        "type": "function",
        "z": "93595efbb4f6c9e1",
        "name": "function 4",
        "func": "msg.payload = msg.payload/100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 380,
        "wires": [
            [
                "a56d5e3205a61efb"
            ]
        ]
    },
    {
        "id": "95dcb55dfc1f8f03",
        "type": "comment",
        "z": "93595efbb4f6c9e1",
        "name": "POTÊNCIAS",
        "info": "",
        "x": 290,
        "y": 300,
        "wires": []
    },
    {
        "id": "abbed39e15750eaf",
        "type": "comment",
        "z": "93595efbb4f6c9e1",
        "name": "TENSÕES",
        "info": "",
        "x": 280,
        "y": 480,
        "wires": []
    },
    {
        "id": "7bc91170f7f54c10",
        "type": "ui_text",
        "z": "93595efbb4f6c9e1",
        "group": "5ed15c94d6361756",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "Tensão F1",
        "label": "<font size = 4>Fases R-S:",
        "format": "<font size = 4>{{msg.payload}} V",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 470,
        "y": 560,
        "wires": []
    },
    {
        "id": "f54ec8e5c1cfd482",
        "type": "ui_text",
        "z": "93595efbb4f6c9e1",
        "group": "5ed15c94d6361756",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "Tensão F2",
        "label": "<font size = 4>Fases S-T:",
        "format": "<font size = 4>{{msg.payload}} V",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 470,
        "y": 640,
        "wires": []
    },
    {
        "id": "0981332e0d5e23c4",
        "type": "link in",
        "z": "93595efbb4f6c9e1",
        "name": "link in 2",
        "links": [
            "aca20257691c9216"
        ],
        "x": 135,
        "y": 600,
        "wires": [
            [
                "df917530c4d405e0",
                "5bcebc27abbc5e41",
                "4594a6de9fe830a9"
            ]
        ]
    },
    {
        "id": "2392817c435b56f9",
        "type": "ui_text",
        "z": "93595efbb4f6c9e1",
        "group": "5ed15c94d6361756",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Tensão F3",
        "label": "<font size = 4>Fases T-R:",
        "format": "<font size = 4>{{msg.payload}} V",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 470,
        "y": 720,
        "wires": []
    },
    {
        "id": "df917530c4d405e0",
        "type": "random",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "low": "210",
        "high": "230",
        "inte": "true",
        "property": "payload",
        "x": 280,
        "y": 580,
        "wires": [
            [
                "7bc91170f7f54c10",
                "81f3c5d3215ae42c"
            ]
        ]
    },
    {
        "id": "5bcebc27abbc5e41",
        "type": "random",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "low": "210",
        "high": "230",
        "inte": "true",
        "property": "payload",
        "x": 280,
        "y": 620,
        "wires": [
            [
                "f54ec8e5c1cfd482",
                "ad0e769d8bc3025f"
            ]
        ]
    },
    {
        "id": "4594a6de9fe830a9",
        "type": "random",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "low": "210",
        "high": "230",
        "inte": "true",
        "property": "payload",
        "x": 280,
        "y": 660,
        "wires": [
            [
                "2392817c435b56f9",
                "b82934f7570910e0"
            ]
        ]
    },
    {
        "id": "6a66d6e2c436bcf5",
        "type": "random",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "low": "9",
        "high": "13",
        "inte": "false",
        "property": "payload",
        "x": 990,
        "y": 540,
        "wires": [
            [
                "227cc9a3362f714f",
                "1ae7b5aa3afa3faa"
            ]
        ]
    },
    {
        "id": "7bd8157c30188daf",
        "type": "comment",
        "z": "93595efbb4f6c9e1",
        "name": "CORRENTES",
        "info": "",
        "x": 1030,
        "y": 500,
        "wires": []
    },
    {
        "id": "1118163ed94e8f1b",
        "type": "link in",
        "z": "93595efbb4f6c9e1",
        "name": "link in 3",
        "links": [
            "aca20257691c9216"
        ],
        "x": 865,
        "y": 540,
        "wires": [
            [
                "6a66d6e2c436bcf5"
            ]
        ]
    },
    {
        "id": "227cc9a3362f714f",
        "type": "change",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1105,
        "y": 540,
        "wires": [
            [
                "9b5e5a89d669b103",
                "eb957c5975f0e553"
            ]
        ],
        "l": false
    },
    {
        "id": "1ae7b5aa3afa3faa",
        "type": "function",
        "z": "93595efbb4f6c9e1",
        "name": "function 5",
        "func": "msg.fase1 = (msg.payload/3)\nmsg.fase2 = (msg.payload/6)\nmsg.fase3 = (msg.payload/2)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 620,
        "wires": [
            [
                "4f44c97351cbb939",
                "8c81eff5715edf52",
                "b5ea06a47bdf12a0"
            ]
        ]
    },
    {
        "id": "aa54cf31d9646452",
        "type": "ui_text",
        "z": "93595efbb4f6c9e1",
        "group": "2534ae50961b433d",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "Corrente F1",
        "label": "<font size = 4>Fase R:",
        "format": "<font size = 4>{{msg.fase1}} A",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 1410,
        "y": 580,
        "wires": []
    },
    {
        "id": "f1cff8750648e3a8",
        "type": "ui_text",
        "z": "93595efbb4f6c9e1",
        "group": "2534ae50961b433d",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "Corrente F2",
        "label": "<font size = 4>Fase S:",
        "format": "<font size = 4>{{msg.fase2}} A",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 1420,
        "y": 660,
        "wires": []
    },
    {
        "id": "5f25b59eb5d00024",
        "type": "ui_text",
        "z": "93595efbb4f6c9e1",
        "group": "2534ae50961b433d",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "Corrente F2",
        "label": "<font size = 4>Fase T:",
        "format": "<font size = 4>{{msg.fase3}} A",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 1420,
        "y": 740,
        "wires": []
    },
    {
        "id": "4f44c97351cbb939",
        "type": "change",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fase1",
                "pt": "msg",
                "to": "$round(fase1, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1305,
        "y": 580,
        "wires": [
            [
                "aa54cf31d9646452",
                "4457d26e6c5f6677"
            ]
        ],
        "l": false
    },
    {
        "id": "8c81eff5715edf52",
        "type": "change",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fase2",
                "pt": "msg",
                "to": "$round(fase2, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1305,
        "y": 660,
        "wires": [
            [
                "f1cff8750648e3a8",
                "7dda814f65e6ecb1"
            ]
        ],
        "l": false
    },
    {
        "id": "b5ea06a47bdf12a0",
        "type": "change",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "fase3",
                "pt": "msg",
                "to": "$round(fase3, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1315,
        "y": 740,
        "wires": [
            [
                "5f25b59eb5d00024",
                "8002b790b8a21d4d"
            ]
        ],
        "l": false
    },
    {
        "id": "1f329a7cb8dce37d",
        "type": "comment",
        "z": "93595efbb4f6c9e1",
        "name": "FREQUÊNCIA",
        "info": "",
        "x": 340,
        "y": 800,
        "wires": []
    },
    {
        "id": "7e83f35635c65dd8",
        "type": "random",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "low": "565",
        "high": "633",
        "inte": "true",
        "property": "payload",
        "x": 280,
        "y": 840,
        "wires": [
            [
                "4bb376523610ca28"
            ]
        ]
    },
    {
        "id": "79b436c783cc653b",
        "type": "link in",
        "z": "93595efbb4f6c9e1",
        "name": "link in 4",
        "links": [
            "aca20257691c9216"
        ],
        "x": 155,
        "y": 840,
        "wires": [
            [
                "7e83f35635c65dd8"
            ]
        ]
    },
    {
        "id": "4bb376523610ca28",
        "type": "function",
        "z": "93595efbb4f6c9e1",
        "name": "function 6",
        "func": "msg.payload = msg.payload/10\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 840,
        "wires": [
            [
                "953d1a558ff93a14"
            ]
        ]
    },
    {
        "id": "953d1a558ff93a14",
        "type": "ui_gauge",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "group": "999967dcd39172cf",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "<strong>Frequência (Hz)</strong>",
        "label": "",
        "format": "{{value}} Hz",
        "min": "55",
        "max": "65",
        "colors": [
            "#ca3838",
            "#5ce600",
            "#ca3838"
        ],
        "seg1": "58",
        "seg2": "62",
        "diff": true,
        "className": "",
        "x": 720,
        "y": 840,
        "wires": []
    },
    {
        "id": "5d5790ec7c2c26b4",
        "type": "ui_template",
        "z": "93595efbb4f6c9e1",
        "group": "6be0b73cd99852ae",
        "name": "",
        "order": 37,
        "width": 8,
        "height": 1,
        "format": "<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n\n        logo.src = 'https://i.ibb.co/PCfKnZx/englogo-transformed-1.png'\n        logo.width = 150;\n        div1[0].style.margin = '10px auto';\n        div1[0].style.paddingTop = '20px';\n        div1[0].style.textAlign = 'center';\n        div1[0].style.height = '60px !important';\n\n        var a = $(\"<a/>\"); //create an anchor / hyperlink\n        //a.attr(\"href\", \"http://www.engelight.com.br/sys/index.php?r=site/publico\"); //set HREF to dashboard homepage\n        a.append(logo); //add logo to anchor\n        div1.append(a); //add anchor to div1\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '5px';\n        div2[0].style.paddingLeft = '20px';\n        div2[0].style.fontSize = '10px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n\n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            //toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n        \n    });\n</script>\n\n<style>\n\n    .md-toolbar-tools h1 {\n    font-size:15px !important;\n    margin-left: -30px;\n    margin-top: 60px;\n    width: 0;\n    white-space: nowrap;\n    overflow: hidden;\n    text-overflow: ellipsis;\n    }\n    body.nr-dashboard-theme md-toolbar {\n    height:80px !important;\n    }\n\n    @media (max-width: 959px) and (min-width: 0) and (orientation: portrait){\n        md-toolbar {\n            min-height: 40px;\n            height: 48px;\n            max-height: 80px;\n        }\n    }\n\n[node-id = \"695abaf8987c7358\"] button {\nbox-shadow: none !important;\n}\n\n    /*Dropdown menu*/\n    .nr-dashboard-theme md-select-menu {\n    background-color: rgba(40, 85, 165, 1) !important;\n    }\n    \n    .nr-dashboard-theme md-select-menu,\n    .nr-dashboard-theme md-select-menu md-option {\n    background-color: white !important;\n    }\n    \n    .nr-dashboard-theme .md-select-menu-container {\n    border-radius: 10px !important;\n    border: none !important;\n    }\n    \n    .nr-dashboard-theme md-select-menu md-option[selected] {\n    color: white !important;\n    background-color: #1a3566 !important;\n    }\n\n</style>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 400,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "a0ce073097e41bbc",
        "type": "ui_toast",
        "z": "93595efbb4f6c9e1",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1110,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "bcd9d950c2ecb541",
        "type": "template",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<h1 style=\"text-align:center\">FATOR DE POTÊNCIA</h1>\n<p>Unidades de baixa tensão ficarão com valor zero. Para Unidades de média tensão são classificadas conforme legenda\n    abaixo:</p>\n<br>\n<h3><span style=\"color:green\">BOM: </span>>= 0,92</h3>\n<h3><span style=\"color:yellow\">ALERTA: </span>> 0,84 < 0,92</h3>\n<h3><span style=\"color:red\">RUIM: </span><= 0,84</h3>",
        "output": "str",
        "x": 940,
        "y": 920,
        "wires": [
            [
                "a0ce073097e41bbc"
            ]
        ]
    },
    {
        "id": "de77f67f47dacc87",
        "type": "ui_text",
        "z": "93595efbb4f6c9e1",
        "group": "5ed15c94d6361756",
        "order": 1,
        "width": 4,
        "height": 2,
        "name": "Tensão (V)",
        "label": "",
        "format": "<font size = 5>Tensão (V)",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 470,
        "y": 520,
        "wires": []
    },
    {
        "id": "9b5e5a89d669b103",
        "type": "ui_text",
        "z": "93595efbb4f6c9e1",
        "group": "2534ae50961b433d",
        "order": 1,
        "width": 4,
        "height": 2,
        "name": "Corrente",
        "label": "",
        "format": "<font size = 5>Corrente (A)",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 1400,
        "y": 540,
        "wires": []
    },
    {
        "id": "bd3abf91372219f9",
        "type": "ui_button",
        "z": "93595efbb4f6c9e1",
        "name": "Mais Detalhes",
        "group": "5ed15c94d6361756",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Mais Detalhes",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "visibility",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 1180,
        "wires": [
            [
                "11d024a0e0ee30be"
            ]
        ]
    },
    {
        "id": "d441b41f7d832b23",
        "type": "ui_button",
        "z": "93595efbb4f6c9e1",
        "name": "Mais Detalhes",
        "group": "2534ae50961b433d",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Mais Detalhes",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "visibility",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 800,
        "y": 1180,
        "wires": [
            [
                "31fc8f222ac1d684"
            ]
        ]
    },
    {
        "id": "1b29891f61c2b88c",
        "type": "comment",
        "z": "93595efbb4f6c9e1",
        "name": "Mais Detalhes",
        "info": "",
        "x": 590,
        "y": 1060,
        "wires": []
    },
    {
        "id": "bc74a98c43ef231a",
        "type": "comment",
        "z": "93595efbb4f6c9e1",
        "name": "Tensão",
        "info": "",
        "x": 390,
        "y": 1140,
        "wires": []
    },
    {
        "id": "66985280bca8032a",
        "type": "comment",
        "z": "93595efbb4f6c9e1",
        "name": "Corrente",
        "info": "",
        "x": 800,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c1bd2120e3ac4f78",
        "type": "link out",
        "z": "93595efbb4f6c9e1",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "f4491fb95329c9ad"
        ],
        "x": 585,
        "y": 1180,
        "wires": []
    },
    {
        "id": "f4491fb95329c9ad",
        "type": "link in",
        "z": "93595efbb4f6c9e1",
        "name": "link in 8",
        "links": [
            "19c676e1b483e876",
            "c1bd2120e3ac4f78"
        ],
        "x": 595,
        "y": 1320,
        "wires": [
            [
                "c70d469581156d22"
            ]
        ]
    },
    {
        "id": "11d024a0e0ee30be",
        "type": "change",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 525,
        "y": 1180,
        "wires": [
            [
                "c1bd2120e3ac4f78"
            ]
        ],
        "l": false
    },
    {
        "id": "19c676e1b483e876",
        "type": "link out",
        "z": "93595efbb4f6c9e1",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "f4491fb95329c9ad"
        ],
        "x": 975,
        "y": 1180,
        "wires": []
    },
    {
        "id": "31fc8f222ac1d684",
        "type": "change",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 915,
        "y": 1180,
        "wires": [
            [
                "19c676e1b483e876"
            ]
        ],
        "l": false
    },
    {
        "id": "c70d469581156d22",
        "type": "ui_ui_control",
        "z": "93595efbb4f6c9e1",
        "name": "",
        "events": "all",
        "x": 700,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "eb957c5975f0e553",
        "type": "link out",
        "z": "93595efbb4f6c9e1",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "72dcfab4c480b5ca",
            "0c07649c0676b7c6"
        ],
        "x": 1225,
        "y": 480,
        "wires": []
    },
    {
        "id": "8002b790b8a21d4d",
        "type": "link out",
        "z": "93595efbb4f6c9e1",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "2df21188654ec7c3",
            "f709fb1f32da2cb1"
        ],
        "x": 1365,
        "y": 780,
        "wires": []
    },
    {
        "id": "7dda814f65e6ecb1",
        "type": "link out",
        "z": "93595efbb4f6c9e1",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "35959e6f9f3800ac",
            "f6d4ff3a73182058"
        ],
        "x": 1365,
        "y": 700,
        "wires": []
    },
    {
        "id": "4457d26e6c5f6677",
        "type": "link out",
        "z": "93595efbb4f6c9e1",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "b6b42aa3a5acaa3d",
            "4ab26b954f7362d7"
        ],
        "x": 1365,
        "y": 620,
        "wires": []
    },
    {
        "id": "81f3c5d3215ae42c",
        "type": "link out",
        "z": "93595efbb4f6c9e1",
        "name": "link out 13",
        "mode": "link",
        "links": [
            "0d1d1b11ae5665f3"
        ],
        "x": 425,
        "y": 600,
        "wires": []
    },
    {
        "id": "ad0e769d8bc3025f",
        "type": "link out",
        "z": "93595efbb4f6c9e1",
        "name": "link out 14",
        "mode": "link",
        "links": [
            "7137c9b55464b997"
        ],
        "x": 425,
        "y": 680,
        "wires": []
    },
    {
        "id": "b82934f7570910e0",
        "type": "link out",
        "z": "93595efbb4f6c9e1",
        "name": "link out 15",
        "mode": "link",
        "links": [
            "56114bb35cd182b4"
        ],
        "x": 425,
        "y": 760,
        "wires": []
    },
    {
        "id": "0c07649c0676b7c6",
        "type": "link in",
        "z": "a494e69f27874613",
        "name": "link in 20",
        "links": [
            "eb957c5975f0e553"
        ],
        "x": 325,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "81fd462136eeeb31",
        "type": "ui_button",
        "z": "a494e69f27874613",
        "name": "Voltar",
        "group": "07e3b6f3a68c8e90",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "black",
        "bgcolor": "transparent",
        "className": "",
        "icon": "fa-reply fa-2x fa-lg",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 120,
        "wires": [
            [
                "e5c7fc4a1569a6ca"
            ]
        ]
    },
    {
        "id": "fe56fb5307a508dc",
        "type": "ui_template",
        "z": "a494e69f27874613",
        "group": "07e3b6f3a68c8e90",
        "name": "",
        "order": 37,
        "width": 8,
        "height": 1,
        "format": "<style>\n\n[node-id = \"81fd462136eeeb31\"] button {\nbox-shadow: none !important;\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 440,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "e5c7fc4a1569a6ca",
        "type": "change",
        "z": "a494e69f27874613",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 525,
        "y": 120,
        "wires": [
            [
                "58929038ef920644"
            ]
        ],
        "l": false
    },
    {
        "id": "58929038ef920644",
        "type": "ui_ui_control",
        "z": "a494e69f27874613",
        "name": "",
        "events": "all",
        "x": 640,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "08d56c84fa563b5f",
        "type": "ui_text",
        "z": "a494e69f27874613",
        "group": "07e3b6f3a68c8e90",
        "order": 21,
        "width": 8,
        "height": 1,
        "name": "Consulta de Mês",
        "label": "",
        "format": "Consulta de Mês",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "32",
        "color": "#000000",
        "x": 490,
        "y": 540,
        "wires": []
    },
    {
        "id": "9158ec471d674f0e",
        "type": "ui_chart",
        "z": "a494e69f27874613",
        "name": "",
        "group": "07e3b6f3a68c8e90",
        "order": 20,
        "width": 8,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "200",
        "ymax": "250",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#02a20c",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "bd288c56cff6b0c7",
        "type": "ui_chart",
        "z": "a494e69f27874613",
        "name": "",
        "group": "07e3b6f3a68c8e90",
        "order": 19,
        "width": 8,
        "height": 5,
        "label": "",
        "chartType": "radar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#02a20c",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 730,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a799dee09eef3e11",
        "type": "ui_table",
        "z": "a494e69f27874613",
        "group": "07e3b6f3a68c8e90",
        "name": "",
        "order": 23,
        "width": 6,
        "height": 5,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 650,
        "y": 600,
        "wires": [
            [
                "0c53bdda820b4e8b",
                "a27cb5ad4b469eb8",
                "3624670a9de2693a",
                "f0838549ac3a77fc"
            ]
        ]
    },
    {
        "id": "ae2a3aa14a54eb3f",
        "type": "function",
        "z": "a494e69f27874613",
        "name": "function 103",
        "func": "msg.payload = `Data;Consumo;00:00;01:00;02:00;03:00;04:00;05:00;06:00;07:00;08:00;09:00;10:00;11:00;12:00;13:00;14:00;15:00;16:00;17:00;18:00;19:00;20:00;21:00;22:00;23:00\n01/06/2023;251.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n02/06/2023;231.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n03/06/2023;256.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n04/06/2023;259.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n05/06/2023;281.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n06/06/2023;951.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n07/06/2023;111.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n08/06/2023;251.9kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n09/06/2023;291.7kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n10/06/2023;151.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n11/06/2023;631.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n12/06/2023;111.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n13/06/2023;251.9kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n14/06/2023;291.7kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n15/06/2023;151.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n16/06/2023;631.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n17/06/2023;111.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n18/06/2023;251.9kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n19/06/2023;291.7kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n20/06/2023;151.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n21/06/2023;631.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n22/06/2023;111.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n23/06/2023;251.9kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n24/06/2023;291.7kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n25/06/2023;151.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n26/06/2023;631.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n27/06/2023;251.6kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n28/06/2023;291.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n29/06/2023;121.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n30/06/2023;257.2kV;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 680,
        "wires": [
            [
                "071ac0da924cd2d3"
            ]
        ]
    },
    {
        "id": "ccdefa665ac433fb",
        "type": "inject",
        "z": "a494e69f27874613",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "ae2a3aa14a54eb3f"
            ]
        ]
    },
    {
        "id": "0c53bdda820b4e8b",
        "type": "debug",
        "z": "a494e69f27874613",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 700,
        "wires": []
    },
    {
        "id": "071ac0da924cd2d3",
        "type": "csv",
        "z": "a494e69f27874613",
        "name": "",
        "sep": ";",
        "hdrin": false,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "Data, Consumo",
        "skip": "1",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 550,
        "y": 680,
        "wires": [
            [
                "a799dee09eef3e11"
            ]
        ]
    },
    {
        "id": "c7c619b7591058d5",
        "type": "ui_template",
        "z": "a494e69f27874613",
        "group": "07e3b6f3a68c8e90",
        "name": "em branco",
        "order": 36,
        "width": 8,
        "height": 1,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 910,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9450a593706cc042",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a0",
        "x": 640,
        "y": 760,
        "wires": [
            [
                "ae264fe9296ebf16"
            ]
        ]
    },
    {
        "id": "ae264fe9296ebf16",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a1",
        "x": 640,
        "y": 800,
        "wires": [
            [
                "20783cf6bcccceee"
            ]
        ]
    },
    {
        "id": "20783cf6bcccceee",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a2",
        "x": 640,
        "y": 840,
        "wires": [
            [
                "7aa5c833aa791b3d"
            ]
        ]
    },
    {
        "id": "7aa5c833aa791b3d",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a3",
        "x": 640,
        "y": 880,
        "wires": [
            [
                "e687b65661e75a02"
            ]
        ]
    },
    {
        "id": "e687b65661e75a02",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a4",
        "x": 640,
        "y": 920,
        "wires": [
            [
                "259b5f20dd191930"
            ]
        ]
    },
    {
        "id": "259b5f20dd191930",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a5",
        "x": 640,
        "y": 960,
        "wires": [
            [
                "d93d3201c6afe091"
            ]
        ]
    },
    {
        "id": "d93d3201c6afe091",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a6",
        "x": 640,
        "y": 1000,
        "wires": [
            [
                "9b0d2dfab4ee6c7a"
            ]
        ]
    },
    {
        "id": "9b0d2dfab4ee6c7a",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a7",
        "x": 640,
        "y": 1040,
        "wires": [
            [
                "b6597aeda94a9f4d"
            ]
        ]
    },
    {
        "id": "b6597aeda94a9f4d",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a8",
        "x": 640,
        "y": 1080,
        "wires": [
            [
                "36e0b0fc7ade6b08"
            ]
        ]
    },
    {
        "id": "36e0b0fc7ade6b08",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a9",
        "x": 640,
        "y": 1120,
        "wires": [
            [
                "5ebb0e014749082f"
            ]
        ]
    },
    {
        "id": "5ebb0e014749082f",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a10",
        "x": 640,
        "y": 1160,
        "wires": [
            [
                "d0ca98fa119dbd5c"
            ]
        ]
    },
    {
        "id": "d0ca98fa119dbd5c",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a11",
        "x": 640,
        "y": 1200,
        "wires": [
            [
                "04efd21acc52d6b8"
            ]
        ]
    },
    {
        "id": "04efd21acc52d6b8",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a12",
        "x": 640,
        "y": 1240,
        "wires": [
            [
                "5b661789a5eb8cbb"
            ]
        ]
    },
    {
        "id": "5b661789a5eb8cbb",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a13",
        "x": 640,
        "y": 1280,
        "wires": [
            [
                "1ea69d392ba1551a"
            ]
        ]
    },
    {
        "id": "1ea69d392ba1551a",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a14",
        "x": 640,
        "y": 1320,
        "wires": [
            [
                "5d32a2fe231dcc6b"
            ]
        ]
    },
    {
        "id": "5d32a2fe231dcc6b",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a15",
        "x": 640,
        "y": 1360,
        "wires": [
            [
                "1d06890bf8bc7251"
            ]
        ]
    },
    {
        "id": "1d06890bf8bc7251",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a16",
        "x": 640,
        "y": 1400,
        "wires": [
            [
                "b1e81f39f462097b"
            ]
        ]
    },
    {
        "id": "b1e81f39f462097b",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a17",
        "x": 640,
        "y": 1440,
        "wires": [
            [
                "5f8f124d35a1b672"
            ]
        ]
    },
    {
        "id": "5f8f124d35a1b672",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a18",
        "x": 640,
        "y": 1480,
        "wires": [
            [
                "2b2fd7d3221352fe"
            ]
        ]
    },
    {
        "id": "2b2fd7d3221352fe",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a19",
        "x": 640,
        "y": 1520,
        "wires": [
            [
                "7e203c447b407e6c"
            ]
        ]
    },
    {
        "id": "7e203c447b407e6c",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a20",
        "x": 640,
        "y": 1560,
        "wires": [
            [
                "a24088ef46c92066"
            ]
        ]
    },
    {
        "id": "a24088ef46c92066",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a21",
        "x": 640,
        "y": 1600,
        "wires": [
            [
                "e0b017cf41999b3e"
            ]
        ]
    },
    {
        "id": "e0b017cf41999b3e",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a22",
        "x": 640,
        "y": 1640,
        "wires": [
            [
                "5b2bb568ee15f404"
            ]
        ]
    },
    {
        "id": "5b2bb568ee15f404",
        "type": "random",
        "z": "a494e69f27874613",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a23",
        "x": 640,
        "y": 1680,
        "wires": [
            [
                "b25ba82f9ff0a7b9"
            ]
        ]
    },
    {
        "id": "a27cb5ad4b469eb8",
        "type": "change",
        "z": "a494e69f27874613",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 860,
        "wires": [
            [
                "9450a593706cc042"
            ]
        ]
    },
    {
        "id": "b25ba82f9ff0a7b9",
        "type": "function",
        "z": "a494e69f27874613",
        "name": "function 104",
        "func": "var m = [\n    { label: \"00:00\", payload: msg.hora.a0 },\n    { label: \"01:00\", payload: msg.hora.a1 },\n    { label: \"02:00\", payload: msg.hora.a2 },\n    { label: \"03:00\", payload: msg.hora.a3 },\n    { label: \"04:00\", payload: msg.hora.a4 },\n    { label: \"05:00\", payload: msg.hora.a5 },\n    { label: \"06:00\", payload: msg.hora.a6 },\n    { label: \"07:00\", payload: msg.hora.a7 },\n    { label: \"08:00\", payload: msg.hora.a8 },\n    { label: \"09:00\", payload: msg.hora.a9 },\n    { label: \"10:00\", payload: msg.hora.a10 },\n    { label: \"11:00\", payload: msg.hora.a11 },\n    { label: \"12:00\", payload: msg.hora.a12},\n    { label: \"13:00\", payload: msg.hora.a13 },\n    { label: \"14:00\", payload: msg.hora.a14 },\n    { label: \"15:00\", payload: msg.hora.a15 },\n    { label: \"16:00\", payload: msg.hora.a16 },\n    { label: \"17:00\", payload: msg.hora.a17 },\n    { label: \"18:00\", payload: msg.hora.a18 },\n    { label: \"19:00\", payload: msg.hora.a19 },\n    { label: \"20:00\", payload: msg.hora.a20 },\n    { label: \"21:00\", payload: msg.hora.a21 },\n    { label: \"22:00\", payload: msg.hora.a22 },\n    { label: \"23:00\", payload: msg.hora.a23 }\n];\nreturn [m];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1720,
        "wires": [
            [
                "75a38519e8949b66"
            ]
        ]
    },
    {
        "id": "75a38519e8949b66",
        "type": "ui_chart",
        "z": "a494e69f27874613",
        "name": "barras",
        "group": "07e3b6f3a68c8e90",
        "order": 33,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "3624670a9de2693a",
        "type": "ui_text",
        "z": "a494e69f27874613",
        "group": "07e3b6f3a68c8e90",
        "order": 34,
        "width": 8,
        "height": 1,
        "name": "dia",
        "label": "<font size = 3>Dia:",
        "format": "<font size = 4>{{payload.Data}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 600,
        "wires": []
    },
    {
        "id": "f0838549ac3a77fc",
        "type": "ui_text",
        "z": "a494e69f27874613",
        "group": "07e3b6f3a68c8e90",
        "order": 35,
        "width": 8,
        "height": 1,
        "name": "consumo",
        "label": "<font size = 3>Consumo:",
        "format": "<font size = 4>{{payload.Consumo}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 640,
        "wires": []
    },
    {
        "id": "ebc1527d859072c0",
        "type": "change",
        "z": "a494e69f27874613",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Fases R-S:",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "9158ec471d674f0e",
                "bd288c56cff6b0c7"
            ]
        ]
    },
    {
        "id": "1276ac57a4212809",
        "type": "change",
        "z": "a494e69f27874613",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Fases S-T:",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "9158ec471d674f0e",
                "bd288c56cff6b0c7"
            ]
        ]
    },
    {
        "id": "e13d7dd368e4ae0d",
        "type": "change",
        "z": "a494e69f27874613",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Fases T-R:",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 400,
        "wires": [
            [
                "9158ec471d674f0e",
                "bd288c56cff6b0c7"
            ]
        ]
    },
    {
        "id": "2d37a741bee3cffd",
        "type": "ui_text",
        "z": "a494e69f27874613",
        "group": "07e3b6f3a68c8e90",
        "order": 11,
        "width": 4,
        "height": 1,
        "name": "Tensão F1",
        "label": "<font size = 4>Fases R-S:",
        "format": "<font size = 4>{{msg.payload}} V",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "3a43643112c32cee",
        "type": "ui_text",
        "z": "a494e69f27874613",
        "group": "07e3b6f3a68c8e90",
        "order": 14,
        "width": 4,
        "height": 1,
        "name": "Tensão F2",
        "label": "<font size = 4>Fases S-T:",
        "format": "<font size = 4>{{msg.payload}} V",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "85a815e4c1f8012f",
        "type": "ui_text",
        "z": "a494e69f27874613",
        "group": "07e3b6f3a68c8e90",
        "order": 17,
        "width": 4,
        "height": 1,
        "name": "Tensão F3",
        "label": "<font size = 4>Fases T-R:",
        "format": "<font size = 4>{{msg.payload}} V",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 450,
        "y": 440,
        "wires": []
    },
    {
        "id": "1d176d2c66e18310",
        "type": "ui_text",
        "z": "a494e69f27874613",
        "group": "07e3b6f3a68c8e90",
        "order": 4,
        "width": 6,
        "height": 3,
        "name": "Tensão (V)",
        "label": "",
        "format": "<font size = 7>Tensão (V)",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "0d1d1b11ae5665f3",
        "type": "link in",
        "z": "a494e69f27874613",
        "name": "link in 21",
        "links": [
            "81f3c5d3215ae42c"
        ],
        "x": 275,
        "y": 260,
        "wires": [
            [
                "2d37a741bee3cffd",
                "ebc1527d859072c0"
            ]
        ]
    },
    {
        "id": "7137c9b55464b997",
        "type": "link in",
        "z": "a494e69f27874613",
        "name": "link in 22",
        "links": [
            "ad0e769d8bc3025f"
        ],
        "x": 275,
        "y": 340,
        "wires": [
            [
                "3a43643112c32cee",
                "1276ac57a4212809"
            ]
        ]
    },
    {
        "id": "56114bb35cd182b4",
        "type": "link in",
        "z": "a494e69f27874613",
        "name": "link in 23",
        "links": [
            "b82934f7570910e0"
        ],
        "x": 275,
        "y": 420,
        "wires": [
            [
                "85a815e4c1f8012f",
                "e13d7dd368e4ae0d"
            ]
        ]
    },
    {
        "id": "fb8eb18e703f0743",
        "type": "ui_text",
        "z": "ac441f7b513a1cc7",
        "group": "6be0b73cd99852ae",
        "order": 4,
        "width": 6,
        "height": 3,
        "name": "Corrente",
        "label": "<font size = 6>Corrente Total (A)",
        "format": "<font size = 7>{{msg.payload}} A",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 340,
        "y": 160,
        "wires": []
    },
    {
        "id": "72dcfab4c480b5ca",
        "type": "link in",
        "z": "ac441f7b513a1cc7",
        "name": "link in 9",
        "links": [
            "eb957c5975f0e553"
        ],
        "x": 225,
        "y": 160,
        "wires": [
            [
                "fb8eb18e703f0743"
            ]
        ]
    },
    {
        "id": "2df21188654ec7c3",
        "type": "link in",
        "z": "ac441f7b513a1cc7",
        "name": "link in 10",
        "links": [
            "8002b790b8a21d4d"
        ],
        "x": 235,
        "y": 380,
        "wires": [
            [
                "0beb7f230453bb34",
                "219d7701becdb97f"
            ]
        ]
    },
    {
        "id": "35959e6f9f3800ac",
        "type": "link in",
        "z": "ac441f7b513a1cc7",
        "name": "link in 11",
        "links": [
            "7dda814f65e6ecb1"
        ],
        "x": 235,
        "y": 300,
        "wires": [
            [
                "2e86a56e57c72a2b",
                "a2d33d8d7cadf9c8"
            ]
        ]
    },
    {
        "id": "b6b42aa3a5acaa3d",
        "type": "link in",
        "z": "ac441f7b513a1cc7",
        "name": "link in 12",
        "links": [
            "4457d26e6c5f6677"
        ],
        "x": 225,
        "y": 220,
        "wires": [
            [
                "5942aa7f93572081",
                "10ed301165e1304f"
            ]
        ]
    },
    {
        "id": "5942aa7f93572081",
        "type": "change",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "fase1",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Fase R",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "f4268e813a317b3e",
                "8c418e1ee9a40876"
            ]
        ]
    },
    {
        "id": "2e86a56e57c72a2b",
        "type": "change",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "fase2",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Fase S",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "f4268e813a317b3e",
                "8c418e1ee9a40876"
            ]
        ]
    },
    {
        "id": "0beb7f230453bb34",
        "type": "change",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "fase3",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Fase T",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 380,
        "wires": [
            [
                "f4268e813a317b3e",
                "8c418e1ee9a40876"
            ]
        ]
    },
    {
        "id": "f012189655b68e8d",
        "type": "ui_button",
        "z": "ac441f7b513a1cc7",
        "name": "Voltar",
        "group": "6be0b73cd99852ae",
        "order": 1,
        "width": 1,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "black",
        "bgcolor": "transparent",
        "className": "",
        "icon": "fa-reply fa-2x fa-lg",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "d3a3b884f9dd953f"
            ]
        ]
    },
    {
        "id": "c6924f313744253b",
        "type": "ui_template",
        "z": "ac441f7b513a1cc7",
        "group": "6be0b73cd99852ae",
        "name": "",
        "order": 38,
        "width": 8,
        "height": 1,
        "format": "<style>\n\n[node-id = \"f012189655b68e8d\"] button {\nbox-shadow: none !important;\n}\n\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 340,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d3a3b884f9dd953f",
        "type": "change",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 425,
        "y": 100,
        "wires": [
            [
                "363f64247c872211"
            ]
        ],
        "l": false
    },
    {
        "id": "363f64247c872211",
        "type": "ui_ui_control",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "events": "all",
        "x": 540,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8503e3f552b161bf",
        "type": "ui_text",
        "z": "ac441f7b513a1cc7",
        "group": "6be0b73cd99852ae",
        "order": 21,
        "width": 8,
        "height": 1,
        "name": "Consulta de Mês",
        "label": "",
        "format": "Consulta de Mês",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "32",
        "color": "#000000",
        "x": 390,
        "y": 520,
        "wires": []
    },
    {
        "id": "f4268e813a317b3e",
        "type": "ui_chart",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "group": "6be0b73cd99852ae",
        "order": 20,
        "width": 8,
        "height": 5,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#02a20c",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "8c418e1ee9a40876",
        "type": "ui_chart",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "group": "6be0b73cd99852ae",
        "order": 19,
        "width": 8,
        "height": 5,
        "label": "",
        "chartType": "radar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#02a20c",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "78255ac756bc526a",
        "type": "ui_table",
        "z": "ac441f7b513a1cc7",
        "group": "6be0b73cd99852ae",
        "name": "",
        "order": 23,
        "width": 6,
        "height": 5,
        "columns": [],
        "outputs": 1,
        "cts": true,
        "x": 550,
        "y": 580,
        "wires": [
            [
                "3787b61605ae7324",
                "389d83dece2d965f",
                "1a913b64716d7e82",
                "e43eca717499f1ed"
            ]
        ]
    },
    {
        "id": "1f23290da47de78d",
        "type": "function",
        "z": "ac441f7b513a1cc7",
        "name": "function 12",
        "func": "msg.payload = `Data;Consumo;00:00;01:00;02:00;03:00;04:00;05:00;06:00;07:00;08:00;09:00;10:00;11:00;12:00;13:00;14:00;15:00;16:00;17:00;18:00;19:00;20:00;21:00;22:00;23:00\n01/06/2023;251.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n02/06/2023;231.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n03/06/2023;256.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n04/06/2023;259.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n05/06/2023;281.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n06/06/2023;951.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n07/06/2023;111.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n08/06/2023;251.9kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n09/06/2023;291.7kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n10/06/2023;151.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n11/06/2023;631.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n12/06/2023;111.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n13/06/2023;251.9kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n14/06/2023;291.7kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n15/06/2023;151.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n16/06/2023;631.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n17/06/2023;111.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n18/06/2023;251.9kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n19/06/2023;291.7kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n20/06/2023;151.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n21/06/2023;631.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n22/06/2023;111.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n23/06/2023;251.9kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n24/06/2023;291.7kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n25/06/2023;151.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n26/06/2023;631.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n27/06/2023;251.6kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n28/06/2023;291.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n29/06/2023;121.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n30/06/2023;257.2kA;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0;0\n`\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 660,
        "wires": [
            [
                "3c8c806c08f13f50"
            ]
        ]
    },
    {
        "id": "1e61eff5a454c239",
        "type": "inject",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "1f23290da47de78d"
            ]
        ]
    },
    {
        "id": "3787b61605ae7324",
        "type": "debug",
        "z": "ac441f7b513a1cc7",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 680,
        "wires": []
    },
    {
        "id": "3c8c806c08f13f50",
        "type": "csv",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "sep": ";",
        "hdrin": false,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "Data, Consumo",
        "skip": "1",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 450,
        "y": 660,
        "wires": [
            [
                "78255ac756bc526a"
            ]
        ]
    },
    {
        "id": "752759cd5695c530",
        "type": "ui_template",
        "z": "ac441f7b513a1cc7",
        "group": "6be0b73cd99852ae",
        "name": "em branco",
        "order": 36,
        "width": 8,
        "height": 1,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 810,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "5d3b5b82185d843f",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a0",
        "x": 540,
        "y": 740,
        "wires": [
            [
                "56cf6d33c3c5924a"
            ]
        ]
    },
    {
        "id": "56cf6d33c3c5924a",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a1",
        "x": 540,
        "y": 780,
        "wires": [
            [
                "ae862a2d6253a24e"
            ]
        ]
    },
    {
        "id": "ae862a2d6253a24e",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a2",
        "x": 540,
        "y": 820,
        "wires": [
            [
                "a7285d5d4cc934bd"
            ]
        ]
    },
    {
        "id": "a7285d5d4cc934bd",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a3",
        "x": 540,
        "y": 860,
        "wires": [
            [
                "9cfb00106976b78a"
            ]
        ]
    },
    {
        "id": "9cfb00106976b78a",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a4",
        "x": 540,
        "y": 900,
        "wires": [
            [
                "2093efb4c48ac8fb"
            ]
        ]
    },
    {
        "id": "2093efb4c48ac8fb",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a5",
        "x": 540,
        "y": 940,
        "wires": [
            [
                "b61f5d9924f514c5"
            ]
        ]
    },
    {
        "id": "b61f5d9924f514c5",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a6",
        "x": 540,
        "y": 980,
        "wires": [
            [
                "ee4f61dc0db59ab5"
            ]
        ]
    },
    {
        "id": "ee4f61dc0db59ab5",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a7",
        "x": 540,
        "y": 1020,
        "wires": [
            [
                "133efd4993f34077"
            ]
        ]
    },
    {
        "id": "133efd4993f34077",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a8",
        "x": 540,
        "y": 1060,
        "wires": [
            [
                "0aca84b1eca2b712"
            ]
        ]
    },
    {
        "id": "0aca84b1eca2b712",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a9",
        "x": 540,
        "y": 1100,
        "wires": [
            [
                "7d6e374fb619366e"
            ]
        ]
    },
    {
        "id": "7d6e374fb619366e",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a10",
        "x": 540,
        "y": 1140,
        "wires": [
            [
                "616dc16915d9271b"
            ]
        ]
    },
    {
        "id": "616dc16915d9271b",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a11",
        "x": 540,
        "y": 1180,
        "wires": [
            [
                "413c5eb060d515f0"
            ]
        ]
    },
    {
        "id": "413c5eb060d515f0",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a12",
        "x": 540,
        "y": 1220,
        "wires": [
            [
                "8f5ae4a2c5478173"
            ]
        ]
    },
    {
        "id": "8f5ae4a2c5478173",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a13",
        "x": 540,
        "y": 1260,
        "wires": [
            [
                "42e70bc4a9c9bb3c"
            ]
        ]
    },
    {
        "id": "42e70bc4a9c9bb3c",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a14",
        "x": 540,
        "y": 1300,
        "wires": [
            [
                "e72c5ec2e3648cd6"
            ]
        ]
    },
    {
        "id": "e72c5ec2e3648cd6",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a15",
        "x": 540,
        "y": 1340,
        "wires": [
            [
                "6d0c93799de3a1aa"
            ]
        ]
    },
    {
        "id": "6d0c93799de3a1aa",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a16",
        "x": 540,
        "y": 1380,
        "wires": [
            [
                "8b9a4b6ae0dad487"
            ]
        ]
    },
    {
        "id": "8b9a4b6ae0dad487",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a17",
        "x": 540,
        "y": 1420,
        "wires": [
            [
                "cad0317249ae6338"
            ]
        ]
    },
    {
        "id": "cad0317249ae6338",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a18",
        "x": 540,
        "y": 1460,
        "wires": [
            [
                "fa0ace75e55d5abe"
            ]
        ]
    },
    {
        "id": "fa0ace75e55d5abe",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a19",
        "x": 540,
        "y": 1500,
        "wires": [
            [
                "e175f414133b94d6"
            ]
        ]
    },
    {
        "id": "e175f414133b94d6",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a20",
        "x": 540,
        "y": 1540,
        "wires": [
            [
                "b489c405e91c50ae"
            ]
        ]
    },
    {
        "id": "b489c405e91c50ae",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a21",
        "x": 540,
        "y": 1580,
        "wires": [
            [
                "aa18718d35bd9fee"
            ]
        ]
    },
    {
        "id": "aa18718d35bd9fee",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a22",
        "x": 540,
        "y": 1620,
        "wires": [
            [
                "30a9ce80e5c03546"
            ]
        ]
    },
    {
        "id": "30a9ce80e5c03546",
        "type": "random",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "low": "0",
        "high": "20",
        "inte": "true",
        "property": "hora.a23",
        "x": 540,
        "y": 1660,
        "wires": [
            [
                "1f0b9b0c2e113a23"
            ]
        ]
    },
    {
        "id": "389d83dece2d965f",
        "type": "change",
        "z": "ac441f7b513a1cc7",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 840,
        "wires": [
            [
                "5d3b5b82185d843f"
            ]
        ]
    },
    {
        "id": "1f0b9b0c2e113a23",
        "type": "function",
        "z": "ac441f7b513a1cc7",
        "name": "function 102",
        "func": "var m = [\n    { label: \"00:00\", payload: msg.hora.a0 },\n    { label: \"01:00\", payload: msg.hora.a1 },\n    { label: \"02:00\", payload: msg.hora.a2 },\n    { label: \"03:00\", payload: msg.hora.a3 },\n    { label: \"04:00\", payload: msg.hora.a4 },\n    { label: \"05:00\", payload: msg.hora.a5 },\n    { label: \"06:00\", payload: msg.hora.a6 },\n    { label: \"07:00\", payload: msg.hora.a7 },\n    { label: \"08:00\", payload: msg.hora.a8 },\n    { label: \"09:00\", payload: msg.hora.a9 },\n    { label: \"10:00\", payload: msg.hora.a10 },\n    { label: \"11:00\", payload: msg.hora.a11 },\n    { label: \"12:00\", payload: msg.hora.a12},\n    { label: \"13:00\", payload: msg.hora.a13 },\n    { label: \"14:00\", payload: msg.hora.a14 },\n    { label: \"15:00\", payload: msg.hora.a15 },\n    { label: \"16:00\", payload: msg.hora.a16 },\n    { label: \"17:00\", payload: msg.hora.a17 },\n    { label: \"18:00\", payload: msg.hora.a18 },\n    { label: \"19:00\", payload: msg.hora.a19 },\n    { label: \"20:00\", payload: msg.hora.a20 },\n    { label: \"21:00\", payload: msg.hora.a21 },\n    { label: \"22:00\", payload: msg.hora.a22 },\n    { label: \"23:00\", payload: msg.hora.a23 }\n];\nreturn [m];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 1700,
        "wires": [
            [
                "a1e00c3e40dae992"
            ]
        ]
    },
    {
        "id": "a1e00c3e40dae992",
        "type": "ui_chart",
        "z": "ac441f7b513a1cc7",
        "name": "barras",
        "group": "6be0b73cd99852ae",
        "order": 33,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "1a913b64716d7e82",
        "type": "ui_text",
        "z": "ac441f7b513a1cc7",
        "group": "6be0b73cd99852ae",
        "order": 34,
        "width": 8,
        "height": 1,
        "name": "dia",
        "label": "<font size = 3>Dia:",
        "format": "<font size = 4>{{payload.Data}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 580,
        "wires": []
    },
    {
        "id": "e43eca717499f1ed",
        "type": "ui_text",
        "z": "ac441f7b513a1cc7",
        "group": "6be0b73cd99852ae",
        "order": 35,
        "width": 8,
        "height": 1,
        "name": "consumo",
        "label": "<font size = 3>Consumo:",
        "format": "<font size = 4>{{payload.Consumo}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 620,
        "wires": []
    },
    {
        "id": "10ed301165e1304f",
        "type": "ui_text",
        "z": "ac441f7b513a1cc7",
        "group": "6be0b73cd99852ae",
        "order": 11,
        "width": 4,
        "height": 1,
        "name": "Corrente F1",
        "label": "<font size = 4>Fase R:",
        "format": "<font size = 4>{{msg.fase1}} A",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 350,
        "y": 260,
        "wires": []
    },
    {
        "id": "a2d33d8d7cadf9c8",
        "type": "ui_text",
        "z": "ac441f7b513a1cc7",
        "group": "6be0b73cd99852ae",
        "order": 14,
        "width": 4,
        "height": 1,
        "name": "Corrente F2",
        "label": "<font size = 4>Fase S:",
        "format": "<font size = 4>{{msg.fase2}} A",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 360,
        "y": 340,
        "wires": []
    },
    {
        "id": "219d7701becdb97f",
        "type": "ui_text",
        "z": "ac441f7b513a1cc7",
        "group": "6be0b73cd99852ae",
        "order": 17,
        "width": 4,
        "height": 1,
        "name": "Corrente F2",
        "label": "<font size = 4>Fase T:",
        "format": "<font size = 4>{{msg.fase3}} A",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "Arial Black,Arial Black,Gadget,sans-serif",
        "fontSize": "18",
        "color": "#000000",
        "x": 360,
        "y": 420,
        "wires": []
    },
    {
        "id": "e43bfc503cd805f6",
        "type": "comment",
        "z": "78be2a86f716e93c",
        "name": "DISPOSITIVO 1",
        "info": "",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "e4b9b4698493887d",
        "type": "comment",
        "z": "78be2a86f716e93c",
        "name": "DISPOSITIVO 2",
        "info": "",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "e2d9b4bc01a24b30",
        "type": "delay",
        "z": "8144529e1e0cb599",
        "name": "",
        "pauseType": "delay",
        "timeout": "0.1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "67c4ef4de49bcc61",
                "033fd9b0ea9b4527"
            ]
        ]
    },
    {
        "id": "2746133720b77f16",
        "type": "inject",
        "z": "8144529e1e0cb599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "e2d9b4bc01a24b30"
            ]
        ]
    },
    {
        "id": "67c4ef4de49bcc61",
        "type": "function",
        "z": "8144529e1e0cb599",
        "name": "payload++",
        "func": "msg.payload = msg.payload +  1;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "e2d9b4bc01a24b30"
            ]
        ]
    },
    {
        "id": "185e555379e54049",
        "type": "comment",
        "z": "8144529e1e0cb599",
        "name": "VARIANTE A)  Message Loop",
        "info": "",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "033fd9b0ea9b4527",
        "type": "link out",
        "z": "8144529e1e0cb599",
        "name": "Message Genrator A OUT",
        "links": [
            "658d1c8bc3824c53",
            "4e97d11ad223cb7a",
            "1f0a909bc1615b9f",
            "63f401194bce2d1a",
            "c1d469d668c7bb54"
        ],
        "x": 655,
        "y": 240,
        "wires": []
    },
    {
        "id": "1f0a909bc1615b9f",
        "type": "link in",
        "z": "8144529e1e0cb599",
        "name": "link in 5",
        "links": [
            "033fd9b0ea9b4527"
        ],
        "x": 155,
        "y": 540,
        "wires": [
            [
                "57305ffdd187d46c"
            ]
        ]
    },
    {
        "id": "fab5a8b38038edb6",
        "type": "function",
        "z": "8144529e1e0cb599",
        "name": "Sinus-Generator",
        "func": "var x = msg.payload * Math.PI / 4;\nmsg.payload = 0.5 + 0.5 * Math.sin(x);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 540,
        "wires": [
            [
                "5b5c57fad12e15e9"
            ]
        ]
    },
    {
        "id": "57305ffdd187d46c",
        "type": "function",
        "z": "8144529e1e0cb599",
        "name": "Get Fator",
        "func": "let factor = flow.get(\"inputscale\");\nmsg.payload = msg.payload / factor;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 540,
        "wires": [
            [
                "fab5a8b38038edb6"
            ]
        ]
    },
    {
        "id": "0fee2180f03bde24",
        "type": "comment",
        "z": "8144529e1e0cb599",
        "name": "Pegar Fator",
        "info": "",
        "x": 330,
        "y": 480,
        "wires": []
    },
    {
        "id": "5b5c57fad12e15e9",
        "type": "function",
        "z": "8144529e1e0cb599",
        "name": "Saída",
        "func": "let factor = flow.get(\"outputscale\");\nmsg.payload = msg.payload * factor;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 540,
        "wires": [
            [
                "b9c5a355a72e6e7a"
            ]
        ]
    },
    {
        "id": "caafeb52e611fc9a",
        "type": "comment",
        "z": "8144529e1e0cb599",
        "name": "Saída",
        "info": "",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "999ddf89646c036b",
        "type": "comment",
        "z": "8144529e1e0cb599",
        "name": "Calcular",
        "info": "",
        "x": 540,
        "y": 480,
        "wires": []
    },
    {
        "id": "fc031ec33ce9ebb9",
        "type": "change",
        "z": "8144529e1e0cb599",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inputscale",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "1cec7372dd8cf72c",
        "type": "change",
        "z": "8144529e1e0cb599",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "outputscale",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "c3e4f341804dd063",
        "type": "inject",
        "z": "8144529e1e0cb599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 210,
        "y": 600,
        "wires": [
            [
                "fc031ec33ce9ebb9"
            ]
        ]
    },
    {
        "id": "7215e4ca0cd23e91",
        "type": "inject",
        "z": "8144529e1e0cb599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "60",
        "payloadType": "num",
        "x": 210,
        "y": 660,
        "wires": [
            [
                "1cec7372dd8cf72c"
            ]
        ]
    },
    {
        "id": "b9c5a355a72e6e7a",
        "type": "function",
        "z": "8144529e1e0cb599",
        "name": "function 8",
        "func": "msg.payload = msg.payload - 30\nmsg.topic = 'Fundamental'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 540,
        "wires": [
            [
                "e3e732896d2319dc"
            ]
        ]
    },
    {
        "id": "63f401194bce2d1a",
        "type": "link in",
        "z": "8144529e1e0cb599",
        "name": "link in 6",
        "links": [
            "033fd9b0ea9b4527"
        ],
        "x": 155,
        "y": 800,
        "wires": [
            [
                "9aa2860db0a5069c"
            ]
        ]
    },
    {
        "id": "13b7febb31c0d37c",
        "type": "function",
        "z": "8144529e1e0cb599",
        "name": "Sinus-Generator",
        "func": "var x = msg.payload * Math.PI / 4;\nmsg.payload = 0.5 + 0.5 * Math.sin(x);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 800,
        "wires": [
            [
                "57964ca6f616d1d6"
            ]
        ]
    },
    {
        "id": "9aa2860db0a5069c",
        "type": "function",
        "z": "8144529e1e0cb599",
        "name": "Get Fator",
        "func": "let factor = flow.get(\"inputscale2\");\nmsg.payload = msg.payload / factor;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 800,
        "wires": [
            [
                "13b7febb31c0d37c"
            ]
        ]
    },
    {
        "id": "08d03ae5ba98026d",
        "type": "comment",
        "z": "8144529e1e0cb599",
        "name": "Pegar Fator",
        "info": "",
        "x": 330,
        "y": 740,
        "wires": []
    },
    {
        "id": "57964ca6f616d1d6",
        "type": "function",
        "z": "8144529e1e0cb599",
        "name": "Saída",
        "func": "let factor = flow.get(\"outputscale2\");\nmsg.payload = msg.payload * factor;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 800,
        "wires": [
            [
                "28363f7063aa1d40"
            ]
        ]
    },
    {
        "id": "b67253cbb5366d10",
        "type": "comment",
        "z": "8144529e1e0cb599",
        "name": "Saída",
        "info": "",
        "x": 730,
        "y": 740,
        "wires": []
    },
    {
        "id": "e6c1fe1505a1e4e4",
        "type": "comment",
        "z": "8144529e1e0cb599",
        "name": "Calcular",
        "info": "",
        "x": 540,
        "y": 740,
        "wires": []
    },
    {
        "id": "2736f0462d4e9e70",
        "type": "change",
        "z": "8144529e1e0cb599",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inputscale2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "99f589defd72033d",
        "type": "change",
        "z": "8144529e1e0cb599",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "outputscale2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "d19ca047e54cb904",
        "type": "inject",
        "z": "8144529e1e0cb599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 210,
        "y": 860,
        "wires": [
            [
                "2736f0462d4e9e70"
            ]
        ]
    },
    {
        "id": "d53c5261f08b4081",
        "type": "inject",
        "z": "8144529e1e0cb599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 210,
        "y": 920,
        "wires": [
            [
                "99f589defd72033d"
            ]
        ]
    },
    {
        "id": "28363f7063aa1d40",
        "type": "function",
        "z": "8144529e1e0cb599",
        "name": "function 9",
        "func": "msg.payload = msg.payload - 15\nmsg.topic = '2º Harmonica'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 800,
        "wires": [
            [
                "e3e732896d2319dc"
            ]
        ]
    },
    {
        "id": "c1d469d668c7bb54",
        "type": "link in",
        "z": "8144529e1e0cb599",
        "name": "link in 7",
        "links": [
            "033fd9b0ea9b4527"
        ],
        "x": 155,
        "y": 1080,
        "wires": [
            [
                "820f1512e49c623a"
            ]
        ]
    },
    {
        "id": "49ee18a58514212e",
        "type": "function",
        "z": "8144529e1e0cb599",
        "name": "Sinus-Generator",
        "func": "var x = msg.payload * Math.PI / 4;\nmsg.payload = 0.5 + 0.5 * Math.sin(x);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1080,
        "wires": [
            [
                "e601e8063d35f85b"
            ]
        ]
    },
    {
        "id": "820f1512e49c623a",
        "type": "function",
        "z": "8144529e1e0cb599",
        "name": "Get Fator",
        "func": "let factor = flow.get(\"inputscale3\");\nmsg.payload = msg.payload / factor;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 1080,
        "wires": [
            [
                "49ee18a58514212e"
            ]
        ]
    },
    {
        "id": "0af0b533d28b358e",
        "type": "comment",
        "z": "8144529e1e0cb599",
        "name": "Pegar Fator",
        "info": "",
        "x": 330,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e601e8063d35f85b",
        "type": "function",
        "z": "8144529e1e0cb599",
        "name": "Saída",
        "func": "let factor = flow.get(\"outputscale3\");\nmsg.payload = msg.payload * factor;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1080,
        "wires": [
            [
                "09bb3f56442a2e0f"
            ]
        ]
    },
    {
        "id": "0121f5f0af26c105",
        "type": "comment",
        "z": "8144529e1e0cb599",
        "name": "Saída",
        "info": "",
        "x": 730,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ce88a4076bc542e3",
        "type": "comment",
        "z": "8144529e1e0cb599",
        "name": "Calcular",
        "info": "",
        "x": 540,
        "y": 1020,
        "wires": []
    },
    {
        "id": "3ab1b22a8ca6d618",
        "type": "change",
        "z": "8144529e1e0cb599",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "inputscale3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "0ff3f9a2bfe2233f",
        "type": "change",
        "z": "8144529e1e0cb599",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "outputscale3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "9e4c648a032fc4d3",
        "type": "inject",
        "z": "8144529e1e0cb599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 210,
        "y": 1140,
        "wires": [
            [
                "3ab1b22a8ca6d618"
            ]
        ]
    },
    {
        "id": "dde512b8ecb4cda5",
        "type": "inject",
        "z": "8144529e1e0cb599",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 210,
        "y": 1200,
        "wires": [
            [
                "0ff3f9a2bfe2233f"
            ]
        ]
    },
    {
        "id": "09bb3f56442a2e0f",
        "type": "function",
        "z": "8144529e1e0cb599",
        "name": "function 10",
        "func": "msg.payload = msg.payload - 15\nmsg.topic = '3º Harmonica'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1080,
        "wires": [
            [
                "e3e732896d2319dc"
            ]
        ]
    },
    {
        "id": "e3e732896d2319dc",
        "type": "ui_chart",
        "z": "8144529e1e0cb599",
        "name": "Harmonicas",
        "group": "6df4d7c02b6aee6f",
        "order": 1,
        "width": 8,
        "height": 7,
        "label": "<strong>Harmonicas (Hz)</strong>",
        "chartType": "line",
        "legend": "true",
        "xformat": " ",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-30",
        "ymax": "30",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#2ca02c",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1210,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "b4845f1aebffd7dc",
        "type": "ui_table",
        "z": "d1de23ea36cb5f83",
        "group": "1b18c48ea46e22cf",
        "name": "",
        "order": 1,
        "width": 8,
        "height": 7,
        "columns": [
            {
                "field": "Operador",
                "title": "Operador",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Data",
                "title": "Data",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Entrada",
                "title": "Entrada",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Saída",
                "title": "Saída",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Duração",
                "title": "Duração",
                "width": "",
                "align": "center",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "8c2c0bfa048a04c5",
        "type": "inject",
        "z": "d1de23ea36cb5f83",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "e567cc735d113964"
            ]
        ]
    },
    {
        "id": "e567cc735d113964",
        "type": "function",
        "z": "d1de23ea36cb5f83",
        "name": "function 11",
        "func": "msg.payload = [\n    {\n    'Operador':'Jean',\n    'Data':'05/05/23',\n    'Entrada':'11:10:22',\n    'Saída':'12:09:43',\n    'Duração':'00:59:21'\n},\n    {\n    'Operador':'Jean',\n    'Data':'14/05/23',\n    'Entrada':'17:48:12',\n    'Saída':'19:22:52',\n    'Duração':'01:34:40'\n},\n    {\n    'Operador':'Manuel',\n    'Data':'26/05/23',\n    'Entrada':'09:01:41',\n    'Saída':'11:15:33',\n    'Duração':'02:13:52'\n},\n    {\n    'Operador':'Jean',\n    'Data':'12/06/23',\n    'Entrada':'16:11:43',\n    'Saída':'17:02:22',\n    'Duração':'00:50:39'\n},\n    {\n    'Operador':'Jorge',\n    'Data':'19/06/23',\n    'Entrada':'11:00:14',\n    'Saída':'11:12:43',\n    'Duração':'00:12:29'\n},\n    {\n    'Operador':'Manuel',\n    'Data':'20/06/23',\n    'Entrada':'16:10:55',\n    'Saída':'18:23:12',\n    'Duração':'02:12:17'\n},\n    {\n    'Operador':'Jean',\n    'Data':'21/06/23',\n    'Entrada':'14:10:14',\n    'Saída':'15:02:22',\n    'Duração':'00:52:08'\n},\n    {\n    'Operador':'Leonardo',\n    'Data':'21/06/23',\n    'Entrada':'15:22:45',\n    'Saída':'16:45:04',\n    'Duração':'01:22:19'\n},\n    {\n    'Operador':'Jean',\n    'Data':'02/07/23',\n    'Entrada':'11:08:30',\n    'Saída':'12:21:32',\n    'Duração':'01:13:02'\n},\n    {\n    'Operador':'Jean',\n    'Data':'10/07/23',\n    'Entrada':'14:10:22',\n    'Saída':'16:11:43',\n    'Duração':'02:01:21'\n},\n]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 260,
        "wires": [
            [
                "b4845f1aebffd7dc"
            ]
        ]
    },
    {
        "id": "29e8fb3dc1a56966",
        "type": "ui_form",
        "z": "e3016048390d69e1",
        "name": "",
        "label": "",
        "group": "8bae7219c1fe47ea",
        "order": 7,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Data do Serviço",
                "value": "data",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "Horário do Serviço",
                "value": "horario",
                "type": "time",
                "required": true,
                "rows": null
            },
            {
                "label": "Observações",
                "value": "obs",
                "type": "multiline",
                "required": false,
                "rows": 2
            }
        ],
        "formValue": {
            "data": "",
            "horario": "",
            "obs": ""
        },
        "payload": "",
        "submit": "Enviar",
        "cancel": "",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "x": 670,
        "y": 260,
        "wires": [
            [
                "31b3a59068f97cb6",
                "dbe3407735613d02"
            ]
        ]
    },
    {
        "id": "fe6016f13102b0a7",
        "type": "ui_dropdown",
        "z": "e3016048390d69e1",
        "name": "Tipo de Serviço",
        "label": "",
        "tooltip": "",
        "place": "Selecione o serviço",
        "group": "8bae7219c1fe47ea",
        "order": 3,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Vistoria nas instalações elétricas",
                "value": "Vistoria nas instalações elétricas",
                "type": "str"
            },
            {
                "label": "Inspeção de equipamentos de segurança",
                "value": "Inspeção de equipamentos de segurança",
                "type": "str"
            },
            {
                "label": "Troca de peças",
                "value": "Troca de peças",
                "type": "str"
            },
            {
                "label": "Reparos na estrutura",
                "value": "Reparos na estrutura",
                "type": "str"
            },
            {
                "label": "Avaliação das condições dos equipamentos",
                "value": "Avaliação das condições dos equipamentos",
                "type": "str"
            },
            {
                "label": "Aferição de equipamentos de medição",
                "value": "Aferição de equipamentos de medição",
                "type": "str"
            },
            {
                "label": "Inspeções na estrutura",
                "value": "Inspeções na estrutura",
                "type": "str"
            },
            {
                "label": "Outros",
                "value": "Outros",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 500,
        "y": 380,
        "wires": [
            [
                "82026db471668b96",
                "85c65e0b8ec35ad9",
                "8286221bbf866d8a"
            ]
        ]
    },
    {
        "id": "8f362e0035f7d603",
        "type": "ui_dropdown",
        "z": "e3016048390d69e1",
        "name": "Selecione o operador",
        "label": "",
        "tooltip": "",
        "place": "Selecione o operador",
        "group": "8bae7219c1fe47ea",
        "order": 6,
        "width": 5,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Enrico",
                "value": "Enrico",
                "type": "str"
            },
            {
                "label": "Felipe",
                "value": "Felipe",
                "type": "str"
            },
            {
                "label": "Manuel",
                "value": "Manuel",
                "type": "str"
            },
            {
                "label": "João Pedro",
                "value": "João Pedro",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 840,
        "y": 380,
        "wires": [
            [
                "84ad586ffdae2faf"
            ]
        ]
    },
    {
        "id": "636b541616d5addc",
        "type": "inject",
        "z": "e3016048390d69e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "17b0cd13907a199e",
                "a90daefe01f2e53f"
            ]
        ]
    },
    {
        "id": "31b3a59068f97cb6",
        "type": "change",
        "z": "e3016048390d69e1",
        "name": "zerar",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 260,
        "wires": [
            [
                "0095a444394c92cb"
            ]
        ]
    },
    {
        "id": "82026db471668b96",
        "type": "switch",
        "z": "e3016048390d69e1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "Outros",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Outros",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 480,
        "wires": [
            [
                "4f97ddd36741e81e"
            ],
            [
                "9a24f2868a31d923"
            ]
        ]
    },
    {
        "id": "e2eb19798b76e38e",
        "type": "ui_text",
        "z": "e3016048390d69e1",
        "group": "8bae7219c1fe47ea",
        "order": 5,
        "width": 3,
        "height": 1,
        "name": "Operador:",
        "label": "",
        "format": "Operador:",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 140,
        "wires": []
    },
    {
        "id": "5cd651aeda5b227f",
        "type": "ui_text",
        "z": "e3016048390d69e1",
        "group": "8bae7219c1fe47ea",
        "order": 1,
        "width": 3,
        "height": 1,
        "name": "Serviço:",
        "label": "",
        "format": "Serviço:",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "9a24f2868a31d923",
        "type": "change",
        "z": "e3016048390d69e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 480,
        "wires": [
            [
                "85c65e0b8ec35ad9"
            ]
        ]
    },
    {
        "id": "85c65e0b8ec35ad9",
        "type": "ui_text_input",
        "z": "e3016048390d69e1",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "8bae7219c1fe47ea",
        "order": 4,
        "width": 8,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 940,
        "y": 460,
        "wires": [
            [
                "86462d5f909762d2"
            ]
        ]
    },
    {
        "id": "4f97ddd36741e81e",
        "type": "change",
        "z": "e3016048390d69e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 440,
        "wires": [
            [
                "85c65e0b8ec35ad9"
            ]
        ]
    },
    {
        "id": "aa446e4c3b8e710b",
        "type": "change",
        "z": "e3016048390d69e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Solicitação Enviada!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 540,
        "wires": [
            [
                "e30b3e20cac84a99"
            ]
        ]
    },
    {
        "id": "e30b3e20cac84a99",
        "type": "ui_toast",
        "z": "e3016048390d69e1",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1650,
        "y": 540,
        "wires": []
    },
    {
        "id": "dbe3407735613d02",
        "type": "link out",
        "z": "e3016048390d69e1",
        "name": "link out 8",
        "mode": "link",
        "links": [
            "d8bd6d9044e18b2b"
        ],
        "x": 765,
        "y": 220,
        "wires": []
    },
    {
        "id": "d8bd6d9044e18b2b",
        "type": "link in",
        "z": "e3016048390d69e1",
        "name": "link in 13",
        "links": [
            "dbe3407735613d02"
        ],
        "x": 235,
        "y": 580,
        "wires": [
            [
                "d328f8c7ed059a52"
            ]
        ]
    },
    {
        "id": "36360e425d08f78e",
        "type": "debug",
        "z": "e3016048390d69e1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 640,
        "wires": []
    },
    {
        "id": "b923e797ca685e47",
        "type": "switch",
        "z": "e3016048390d69e1",
        "name": "",
        "property": "payload.obs",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 870,
        "y": 580,
        "wires": [
            [
                "95101a78f3bc045f"
            ],
            [
                "0d224097d591dfdc"
            ]
        ]
    },
    {
        "id": "0d224097d591dfdc",
        "type": "template",
        "z": "e3016048390d69e1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<h1>Revise sua solicitação:</h1><br>\n<p><strong>Olá </strong>{{operador}},</p>\n<p>Uma nova chamada de serviço foi acionada em seu nome!</p>\n<p>Favor, comparacer dia <strong>{{payload.data}}</strong>, às <strong>{{payload.horario}}</strong>, para <strong>{{servico}}</strong>.\n<br>\n<p><strong>Obs:</strong>{{payload.obs}}</p>\n<br>\n<p>Atenciosamente,</p>\n<p>Equipe EngeLigh.</p>",
        "output": "str",
        "x": 1020,
        "y": 600,
        "wires": [
            [
                "2564db512b9dde8d"
            ]
        ]
    },
    {
        "id": "0095a444394c92cb",
        "type": "link out",
        "z": "e3016048390d69e1",
        "name": "link out 9",
        "mode": "link",
        "links": [
            "040fdb7f25939d03",
            "cb8edef084bc1f45",
            "0415a3fef28fbb11",
            "b44efcaeb8b41741",
            "ef0d9e2777c1a654"
        ],
        "x": 935,
        "y": 260,
        "wires": []
    },
    {
        "id": "040fdb7f25939d03",
        "type": "link in",
        "z": "e3016048390d69e1",
        "name": "link in 14",
        "links": [
            "0095a444394c92cb",
            "17b0cd13907a199e"
        ],
        "x": 365,
        "y": 380,
        "wires": [
            [
                "fe6016f13102b0a7"
            ]
        ]
    },
    {
        "id": "17b0cd13907a199e",
        "type": "link out",
        "z": "e3016048390d69e1",
        "name": "link out 10",
        "mode": "link",
        "links": [
            "040fdb7f25939d03",
            "cb8edef084bc1f45",
            "0415a3fef28fbb11",
            "b44efcaeb8b41741",
            "ef0d9e2777c1a654"
        ],
        "x": 345,
        "y": 180,
        "wires": []
    },
    {
        "id": "cb8edef084bc1f45",
        "type": "link in",
        "z": "e3016048390d69e1",
        "name": "link in 15",
        "links": [
            "0095a444394c92cb",
            "17b0cd13907a199e"
        ],
        "x": 865,
        "y": 420,
        "wires": [
            [
                "85c65e0b8ec35ad9"
            ]
        ]
    },
    {
        "id": "0415a3fef28fbb11",
        "type": "link in",
        "z": "e3016048390d69e1",
        "name": "link in 16",
        "links": [
            "0095a444394c92cb",
            "17b0cd13907a199e"
        ],
        "x": 585,
        "y": 440,
        "wires": [
            [
                "4f97ddd36741e81e"
            ]
        ]
    },
    {
        "id": "b44efcaeb8b41741",
        "type": "link in",
        "z": "e3016048390d69e1",
        "name": "link in 17",
        "links": [
            "0095a444394c92cb",
            "17b0cd13907a199e"
        ],
        "x": 705,
        "y": 380,
        "wires": [
            [
                "8f362e0035f7d603"
            ]
        ]
    },
    {
        "id": "8286221bbf866d8a",
        "type": "change",
        "z": "e3016048390d69e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "TipoServico",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 615,
        "y": 340,
        "wires": [
            [
                "6d7d784272dfaf9a"
            ]
        ],
        "l": false
    },
    {
        "id": "84ad586ffdae2faf",
        "type": "change",
        "z": "e3016048390d69e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Operador",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 975,
        "y": 340,
        "wires": [
            [
                "98d1b477c632da81"
            ]
        ],
        "l": false
    },
    {
        "id": "d7a6d241a5d0760f",
        "type": "comment",
        "z": "e3016048390d69e1",
        "name": "desabilitar form",
        "info": "",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "ef0d9e2777c1a654",
        "type": "link in",
        "z": "e3016048390d69e1",
        "name": "link in 18",
        "links": [
            "0095a444394c92cb",
            "17b0cd13907a199e"
        ],
        "x": 305,
        "y": 260,
        "wires": [
            [
                "2d82d044d1c4858c"
            ]
        ]
    },
    {
        "id": "2d82d044d1c4858c",
        "type": "change",
        "z": "e3016048390d69e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 260,
        "wires": [
            [
                "29e8fb3dc1a56966"
            ]
        ]
    },
    {
        "id": "e6088003e81890cd",
        "type": "change",
        "z": "e3016048390d69e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "enabled",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 300,
        "wires": [
            [
                "29e8fb3dc1a56966"
            ]
        ]
    },
    {
        "id": "cf7433447b0ec181",
        "type": "switch",
        "z": "e3016048390d69e1",
        "name": "",
        "property": "Operador",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 315,
        "y": 300,
        "wires": [
            [
                "e6088003e81890cd"
            ]
        ],
        "l": false
    },
    {
        "id": "0ff1f3539443c757",
        "type": "switch",
        "z": "e3016048390d69e1",
        "name": "",
        "property": "TipoServico",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 265,
        "y": 300,
        "wires": [
            [
                "cf7433447b0ec181"
            ]
        ],
        "l": false
    },
    {
        "id": "539ea694c4222a04",
        "type": "link in",
        "z": "e3016048390d69e1",
        "name": "link in 19",
        "links": [
            "98d1b477c632da81",
            "6d7d784272dfaf9a"
        ],
        "x": 215,
        "y": 300,
        "wires": [
            [
                "0ff1f3539443c757"
            ]
        ]
    },
    {
        "id": "98d1b477c632da81",
        "type": "link out",
        "z": "e3016048390d69e1",
        "name": "link out 11",
        "mode": "link",
        "links": [
            "539ea694c4222a04"
        ],
        "x": 1085,
        "y": 340,
        "wires": []
    },
    {
        "id": "6d7d784272dfaf9a",
        "type": "link out",
        "z": "e3016048390d69e1",
        "name": "link out 12",
        "mode": "link",
        "links": [
            "539ea694c4222a04"
        ],
        "x": 665,
        "y": 340,
        "wires": []
    },
    {
        "id": "d328f8c7ed059a52",
        "type": "change",
        "z": "e3016048390d69e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "operador",
                "pt": "msg",
                "to": "Operador",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "servico",
                "pt": "msg",
                "to": "TipoServico",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 580,
        "wires": [
            [
                "84778160e687a054"
            ]
        ]
    },
    {
        "id": "2564db512b9dde8d",
        "type": "ui_toast",
        "z": "e3016048390d69e1",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "Ok, enviar",
        "cancel": "Cancelar",
        "raw": true,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1210,
        "y": 580,
        "wires": [
            [
                "3d1a665d1385ce09",
                "b537614ebc9d905b",
                "79767fb753e1438e"
            ]
        ]
    },
    {
        "id": "3d1a665d1385ce09",
        "type": "debug",
        "z": "e3016048390d69e1",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 600,
        "wires": []
    },
    {
        "id": "84778160e687a054",
        "type": "function",
        "z": "e3016048390d69e1",
        "name": "pegar hora",
        "func": "var data = (new Date(msg.payload.horario))\n\nvar hora = data.getHours();\n\nvar min = data.getMinutes();\n\nif (min < 10) {\n    min = \"0\" + min;\n}\nif (hora < 10) {\n    hora = \"0\" + hora;\n}\n\nmsg.payload.horario = hora + ':' + min;\n\n\nif (msg.servico == \"Outros\"){\n    msg.servico = flow.get('ServicoOutros');\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 580,
        "wires": [
            [
                "6a10f1b50aa65763"
            ]
        ]
    },
    {
        "id": "6a10f1b50aa65763",
        "type": "function",
        "z": "e3016048390d69e1",
        "name": "pegar data",
        "func": "var data = new Date(msg.payload.data);\nvar dia = data.getDate();\nvar mes = data.getMonth() + 1;\nvar ano = data.getFullYear();\n\ndata = dia + '/' + mes + '/' + ano;\n\nmsg.payload.data = data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 580,
        "wires": [
            [
                "b923e797ca685e47",
                "36360e425d08f78e"
            ]
        ]
    },
    {
        "id": "a90daefe01f2e53f",
        "type": "change",
        "z": "e3016048390d69e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Operador",
                "pt": "flow",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "TipoServico",
                "pt": "flow",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ServicoOutros",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b537614ebc9d905b",
        "type": "switch",
        "z": "e3016048390d69e1",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Ok, enviar",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1370,
        "y": 480,
        "wires": [
            [
                "aa446e4c3b8e710b"
            ]
        ]
    },
    {
        "id": "95101a78f3bc045f",
        "type": "template",
        "z": "e3016048390d69e1",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<h1>Revise sua solicitação:</h1><br>\n<p><strong>Olá </strong>{{operador}},</p>\n<p>Uma nova chamada de serviço foi acionada em seu nome!</p>\n<p>Favor, comparacer dia <strong>{{payload.data}}</strong>, às <strong>{{payload.horario}}</strong>, para <strong>{{servico}}</strong>.\n<br>\n<p>Atenciosamente,</p>\n<p>Equipe EngeLigh.</p>",
        "output": "str",
        "x": 1020,
        "y": 560,
        "wires": [
            [
                "2564db512b9dde8d"
            ]
        ]
    },
    {
        "id": "86462d5f909762d2",
        "type": "change",
        "z": "e3016048390d69e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ServicoOutros",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1055,
        "y": 460,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "79767fb753e1438e",
        "type": "change",
        "z": "e3016048390d69e1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Operador",
                "pt": "flow",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "TipoServico",
                "pt": "flow",
                "to": "",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "ServicoOutros",
                "pt": "flow",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "85af8e3756027a38",
        "type": "e-mail",
        "z": "e3016048390d69e1",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 1740,
        "y": 660,
        "wires": []
    },
    {
        "id": "10215eadce96ee30",
        "type": "e-mail",
        "z": "e3016048390d69e1",
        "server": "smtp.kinghost.net",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": false,
        "token": "",
        "secure": true,
        "tls": true,
        "name": "ipraquenickbr@gmail.com",
        "dname": "",
        "x": 1950,
        "y": 500,
        "wires": []
    },
    {
        "id": "062f4aafbe722290",
        "type": "inject",
        "z": "e3016048390d69e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "titulo",
        "payload": "teste",
        "payloadType": "str",
        "x": 1580,
        "y": 380,
        "wires": [
            [
                "10215eadce96ee30"
            ]
        ]
    }
]